.more-screen .icon-row {
  margin-top: 35px;
}
.more-suggestions__title {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 15px;
  margin-bottom: 15px;
}
.icon-row .blank {
  opacity: 0;
}
